#OKO{
    width:25px;
    height: 25px;
}



#pos{
    position:absolute;
    top:10%;
    left:10%;
    z-index: 3;
    height:200px;
    background-color: white;
    border-left: 5px solid blueviolet;
}